# lgbm

---

**mlflow**
1. knn
2. v column pca
3. lgbm

In [16]:
# 라이브러리 import
##
import numpy as np
import pandas as pd

##
import matplotlib.pyplot
import seaborn as sns

##
import sklearn
from sklearn.preprocessing import StandardScaler

##
import gc

In [2]:
# train.to_csv('../../data/extracted/train_knn_imputed1.csv')

In [3]:
# train = pd.read_csv('../../data/extracted/train_knn_imputed1.csv', index_col='TransactionID')
# train

In [4]:
# train.to_csv('../../data/extracted/train_knn_imputed.csv')

In [42]:
train = pd.read_csv('../../data/extracted/train_knn_imputed.csv', index_col='TransactionID')
test = pd.read_csv('../../data/extracted/test.csv', index_col='TransactionID')
train.head()

,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,V304,V306,V307,V308,V310,V312,V313,V314,V315,V317
TransactionID,,,,,,,,,,,,,,,,,,,,,
2987000.0,0.0,86400.0,68.5,4.0,13926.0,441.0,150.0,1.0,142.0,1.0,...,0.0,0.0,117.0,0.0,0.0,0.0,0.0,0.0,0.0,117.0
2987001.0,0.0,86401.0,29.0,4.0,2755.0,404.0,150.0,2.0,102.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2987002.0,0.0,86469.0,59.0,4.0,4663.0,490.0,150.0,4.0,166.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2987003.0,0.0,86499.0,50.0,4.0,18132.0,567.0,150.0,2.0,117.0,2.0,...,0.0,50.0,1758.0,925.0,354.0,135.0,0.0,0.0,0.0,1404.0
2987004.0,0.0,86506.0,50.0,1.0,4497.0,514.0,150.0,2.0,102.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
train_column_list= list(train)
train_column_list

['isFraud',
 'TransactionDT',
 'TransactionAmt',
 'ProductCD',
 'card1',
 'card2',
 'card3',
 'card4',
 'card5',
 'card6',
 'addr1',
 'addr2',
 'dist1',
 'P_emaildomain',
 'C1',
 'C2',
 'C4',
 'C5',
 'C6',
 'C7',
 'C8',
 'C9',
 'C10',
 'C11',
 'C12',
 'C13',
 'C14',
 'D1',
 'D2',
 'D3',
 'D4',
 'D5',
 'D10',
 'D11',
 'D15',
 'M1',
 'M2',
 'M3',
 'M4',
 'M5',
 'M6',
 'M7',
 'M8',
 'M9',
 'V1',
 'V2',
 'V3',
 'V4',
 'V5',
 'V6',
 'V7',
 'V8',
 'V9',
 'V10',
 'V11',
 'V12',
 'V13',
 'V15',
 'V16',
 'V17',
 'V18',
 'V19',
 'V20',
 'V21',
 'V22',
 'V29',
 'V30',
 'V31',
 'V32',
 'V33',
 'V34',
 'V35',
 'V36',
 'V37',
 'V38',
 'V39',
 'V40',
 'V41',
 'V42',
 'V43',
 'V44',
 'V45',
 'V46',
 'V47',
 'V48',
 'V49',
 'V50',
 'V51',
 'V52',
 'V53',
 'V54',
 'V56',
 'V57',
 'V58',
 'V59',
 'V60',
 'V61',
 'V62',
 'V63',
 'V64',
 'V69',
 'V70',
 'V71',
 'V72',
 'V73',
 'V74',
 'V75',
 'V76',
 'V78',
 'V79',
 'V80',
 'V81',
 'V82',
 'V83',
 'V84',
 'V85',
 'V87',
 'V90',
 'V91',
 'V92',
 'V93',
 'V94',
 'V95',
 'V96',
 'V97',
 'V99',
 'V100',
 'V126',
 'V127',
 'V128',
 'V130',
 'V131',
 'V279',
 'V280',
 'V282',
 'V283',
 'V285',
 'V287',
 'V288',
 'V289',
 'V291',
 'V292',
 'V294',
 'V302',
 'V303',
 'V304',
 'V306',
 'V307',
 'V308',
 'V310',
 'V312',
 'V313',
 'V314',
 'V315',
 'V317']

In [7]:
train_v_list= [ 'isFraud', 
 'V1',
 'V2',
 'V3',
 'V4',
 'V5',
 'V6',
 'V7',
 'V8',
 'V9',
 'V10',
 'V11',
 'V12',
 'V13',
 'V15',
 'V16',
 'V17',
 'V18',
 'V19',
 'V20',
 'V21',
 'V22',
 'V29',
 'V30',
 'V31',
 'V32',
 'V33',
 'V34',
 'V35',
 'V36',
 'V37',
 'V38',
 'V39',
 'V40',
 'V41',
 'V42',
 'V43',
 'V44',
 'V45',
 'V46',
 'V47',
 'V48',
 'V49',
 'V50',
 'V51',
 'V52',
 'V53',
 'V54',
 'V56',
 'V57',
 'V58',
 'V59',
 'V60',
 'V61',
 'V62',
 'V63',
 'V64',
 'V69',
 'V70',
 'V71',
 'V72',
 'V73',
 'V74',
 'V75',
 'V76',
 'V78',
 'V79',
 'V80',
 'V81',
 'V82',
 'V83',
 'V84',
 'V85',
 'V87',
 'V90',
 'V91',
 'V92',
 'V93',
 'V94',
 'V95',
 'V96',
 'V97',
 'V99',
 'V100',
 'V126',
 'V127',
 'V128',
 'V130',
 'V131',
 'V279',
 'V280',
 'V282',
 'V283',
 'V285',
 'V287',
 'V288',
 'V289',
 'V291',
 'V292',
 'V294',
 'V302',
 'V303',
 'V304',
 'V306',
 'V307',
 'V308',
 'V310',
 'V312',
 'V313',
 'V314',
 'V315',
 'V317']

In [8]:
train_v_df = train[train_v_list]
train_v_df

,isFraud,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V304,V306,V307,V308,V310,V312,V313,V314,V315,V317
TransactionID,,,,,,,,,,,,,,,,,,,,,
2987000.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.000000,117.000000,0.000000,0.0000,0.0,0.0000,0.0000,0.0000,117.0
2987001.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.000000,0.000000,0.000000,0.0000,0.0,0.0000,0.0000,0.0000,0.0
2987002.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.000000,0.000000,0.000000,0.0000,0.0,0.0000,0.0000,0.0000,0.0
2987003.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,50.000000,1758.000000,925.000000,354.0000,135.0,0.0000,0.0000,0.0000,1404.0
2987004.0,0.0,1.0,1.0,1.0,0.8,0.8,1.0,1.0,1.0,1.0,...,1.0,0.000000,0.000000,0.000000,0.0000,0.0,0.0000,0.0000,0.0000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3577535.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.000000,47.950001,0.000000,47.9375,0.0,47.9375,47.9375,47.9375,0.0
3577536.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.000000,0.000000,0.000000,0.0000,0.0,0.0000,0.0000,0.0000,0.0
3577537.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.000000,0.000000,0.000000,0.0000,0.0,0.0000,0.0000,0.0000,0.0
3577538.0,0.0,1.0,1.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,...,0.0,117.000000,2903.500000,117.000000,669.5000,117.0,317.5000,669.5000,317.5000,2234.0
3577539.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,279.950012,279.950012,279.950012,0.0000,0.0,0.0000,0.0000,0.0000,0.0

In [9]:
# 표준화

## train
x = train_v_df.drop(['isFraud'], axis=1).values # 독립변인들의 value값만 추출
y = train_v_df['isFraud'].values # 종속변인 추출

x = StandardScaler().fit_transform(x) # x객체에 x를 표준화한 데이터를 저장

features = train_v_list[1:]
pd.DataFrame(x, columns=features).head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V304,V306,V307,V308,V310,V312,V313,V314,V315,V317
0,0.018432,-0.213279,-0.278031,0.449433,0.339974,-0.219812,-0.278844,-0.168855,-0.209449,-1.121232,...,-0.500166,-0.059497,-0.066417,-0.076249,-0.334842,-0.227584,-0.222943,-0.249796,-0.229693,-0.032820
1,0.018432,-0.213279,-0.278031,0.449433,0.339974,-0.219812,-0.278844,-0.168855,-0.209449,0.315704,...,-0.500166,-0.059497,-0.093057,-0.076249,-0.334842,-0.227584,-0.222943,-0.249796,-0.229693,-0.062216
2,0.018432,-0.213279,-0.278031,0.449433,0.339974,-0.219812,-0.278844,-0.168855,-0.209449,-1.121232,...,-0.500166,-0.059497,-0.093057,-0.076249,-0.334842,-0.227584,-0.222943,-0.249796,-0.229693,-0.062216
3,0.018432,-0.213279,-0.278031,0.449433,0.339974,-0.219812,-0.278844,-0.168855,-0.209449,0.794683,...,-0.500166,-0.038210,0.307219,0.229850,0.667987,0.556696,-0.222943,-0.249796,-0.229693,0.290545
4,0.018432,-0.213279,-0.278031,-0.124212,-0.190426,-0.219812,-0.278844,-0.168855,-0.209449,-0.163275,...,1.392936,-0.059497,-0.093057,-0.076249,-0.334842,-0.227584,-0.222943,-0.249796,-0.229693,-0.062216

In [10]:
train2 = train.drop(train_v_list[1:], axis=1)

In [11]:
train2

,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,D15,M1,M2,M3,M4,M5,M6,M7,M8,M9
TransactionID,,,,,,,,,,,,,,,,,,,,,
2987000.0,0.0,86400.0,68.500000,4.0,13926.0,441.0,150.0,1.0,142.0,1.0,...,0.0,1.0,1.0,1.0,2.0,0.0,1.0,2.0,2.0,2.0
2987001.0,0.0,86401.0,29.000000,4.0,2755.0,404.0,150.0,2.0,102.0,1.0,...,0.0,2.0,2.0,2.0,0.0,1.0,1.0,2.0,2.0,2.0
2987002.0,0.0,86469.0,59.000000,4.0,4663.0,490.0,150.0,4.0,166.0,2.0,...,315.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2987003.0,0.0,86499.0,50.000000,4.0,18132.0,567.0,150.0,2.0,117.0,2.0,...,111.0,2.0,2.0,2.0,0.0,1.0,0.0,2.0,2.0,2.0
2987004.0,0.0,86506.0,50.000000,1.0,4497.0,514.0,150.0,2.0,102.0,1.0,...,179.8,2.0,2.0,2.0,3.0,2.0,2.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3577535.0,0.0,15811047.0,49.000000,4.0,6550.0,523.8,150.0,4.0,226.0,2.0,...,56.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
3577536.0,0.0,15811049.0,39.500000,4.0,10444.0,225.0,150.0,2.0,224.0,2.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3577537.0,0.0,15811079.0,30.953125,4.0,12037.0,595.0,150.0,2.0,224.0,2.0,...,0.0,1.0,0.0,0.0,3.0,2.0,1.0,2.0,2.0,2.0
3577538.0,0.0,15811088.0,117.000000,4.0,7826.0,481.0,150.0,2.0,224.0,2.0,...,22.0,1.0,1.0,1.0,0.0,0.0,1.0,2.0,2.0,2.0
3577539.0,0.0,15811131.0,280.000000,4.0,15066.0,170.0,150.0,2.0,102.0,1.0,...,1.0,1.0,0.0,0.0,3.0,2.0,1.0,0.0,0.0,0.0

In [12]:
train3 = train2.merge(train_v_df, how='left', left_index=True, right_index=True)

In [13]:
train3.head()

,isFraud_x,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,V304,V306,V307,V308,V310,V312,V313,V314,V315,V317
TransactionID,,,,,,,,,,,,,,,,,,,,,
2987000.0,0.0,86400.0,68.5,4.0,13926.0,441.0,150.0,1.0,142.0,1.0,...,0.0,0.0,117.0,0.0,0.0,0.0,0.0,0.0,0.0,117.0
2987001.0,0.0,86401.0,29.0,4.0,2755.0,404.0,150.0,2.0,102.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2987002.0,0.0,86469.0,59.0,4.0,4663.0,490.0,150.0,4.0,166.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2987003.0,0.0,86499.0,50.0,4.0,18132.0,567.0,150.0,2.0,117.0,2.0,...,0.0,50.0,1758.0,925.0,354.0,135.0,0.0,0.0,0.0,1404.0
2987004.0,0.0,86506.0,50.0,1.0,4497.0,514.0,150.0,2.0,102.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
train3.rename(columns={'isFraud_x':'isFraud'}, inplace=True)
train3

,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,V304,V306,V307,V308,V310,V312,V313,V314,V315,V317
TransactionID,,,,,,,,,,,,,,,,,,,,,
2987000.0,0.0,86400.0,68.500000,4.0,13926.0,441.0,150.0,1.0,142.0,1.0,...,0.0,0.000000,117.000000,0.000000,0.0000,0.0,0.0000,0.0000,0.0000,117.0
2987001.0,0.0,86401.0,29.000000,4.0,2755.0,404.0,150.0,2.0,102.0,1.0,...,0.0,0.000000,0.000000,0.000000,0.0000,0.0,0.0000,0.0000,0.0000,0.0
2987002.0,0.0,86469.0,59.000000,4.0,4663.0,490.0,150.0,4.0,166.0,2.0,...,0.0,0.000000,0.000000,0.000000,0.0000,0.0,0.0000,0.0000,0.0000,0.0
2987003.0,0.0,86499.0,50.000000,4.0,18132.0,567.0,150.0,2.0,117.0,2.0,...,0.0,50.000000,1758.000000,925.000000,354.0000,135.0,0.0000,0.0000,0.0000,1404.0
2987004.0,0.0,86506.0,50.000000,1.0,4497.0,514.0,150.0,2.0,102.0,1.0,...,1.0,0.000000,0.000000,0.000000,0.0000,0.0,0.0000,0.0000,0.0000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3577535.0,0.0,15811047.0,49.000000,4.0,6550.0,523.8,150.0,4.0,226.0,2.0,...,0.0,0.000000,47.950001,0.000000,47.9375,0.0,47.9375,47.9375,47.9375,0.0
3577536.0,0.0,15811049.0,39.500000,4.0,10444.0,225.0,150.0,2.0,224.0,2.0,...,0.0,0.000000,0.000000,0.000000,0.0000,0.0,0.0000,0.0000,0.0000,0.0
3577537.0,0.0,15811079.0,30.953125,4.0,12037.0,595.0,150.0,2.0,224.0,2.0,...,0.0,0.000000,0.000000,0.000000,0.0000,0.0,0.0000,0.0000,0.0000,0.0
3577538.0,0.0,15811088.0,117.000000,4.0,7826.0,481.0,150.0,2.0,224.0,2.0,...,0.0,117.000000,2903.500000,117.000000,669.5000,117.0,317.5000,669.5000,317.5000,2234.0
3577539.0,0.0,15811131.0,280.000000,4.0,15066.0,170.0,150.0,2.0,102.0,1.0,...,0.0,279.950012,279.950012,279.950012,0.0000,0.0,0.0000,0.0000,0.0000,0.0

In [21]:
gc.collect()

49304

In [43]:
from lightgbm import LGBMClassifier
from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, recall_score, f1_score, precision_score, roc_auc_score
from sklearn.metrics import confusion_matrix

# train3
#train, test, val 분리
X = train3.drop(['isFraud'], axis=1)
y = train3[['isFraud']]

# 8:2로 분할
X_train, X_test, y_train, y_test = train_test_split(train, test, test_size=0.2, random_state=42)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

# 트리개수 지정
lgbm_wrapper = LGBMClassifier(n_estimators=600)

evals = [(X_test, y_test)]
lgbm_wrapper.fit(X_train, y_train, early_stopping_rounds=100, eval_metric='logloss',
                eval_set=evals, verbose=True)

preds = lgbm_wrapper.predict(X_test)

ValueError: Found input variables with inconsistent numbers of samples: [590540, 506691]

In [ ]:
def get_clf_eval(y_test, y_pred):
    confusion = confusion_matrix(y_test, y_pred)
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    F1 = f1_score(y_test, y_pred)
    AUC = roc_auc_score(y_test, y_pred)
    print('오차행렬:\n', confusion)
    print('\n정확도: {:.4f}'.format(accuracy))
    print('정밀도: {:.4f}'.format(precision))
    print('재현율: {:.4f}'.format(recall))
    print('F1: {:.4f}'.format(F1))
    print('AUC: {:.4f}'.format(AUC))
    
get_clf_eval(y_test, preds)

In [35]:
sub = pd.DataFrame(preds)
sub

         0
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
...    ...
94481  0.0
94482  0.0
94483  0.0
94484  0.0
94485  0.0

[94486 rows x 1 columns]